/* Need this to make portfolio charts have the same height */
.charts {
    /* margin-left: -15px; */
    /* margin-top: -5px; */
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
    /* margin-right: -.9375rem;
    margin-left: -.9375rem; */
}

.chart-left {
    width: 50%;
    float: left;
    padding-right: 5px;
    padding-bottom: 12px;
    height: 100%;
    /* padding-left: 10px;  */
}

.chart-left .card {
    height: 100%;
}

.chart-right {
    width: 50%;
    height: 100%;
    position: absolute;
    float: left;
    /* padding-right: -20px; */
    padding-bottom: 17px; /* Needed to make the bottom align with piechart  */
    padding-right: -25px;
    right: 0;
    top: 0;
}

.top-performer {
    height: 50%; 
    margin-bottom: 5px;
    overflow: hidden;
}

.bot-performer {
    height: 50%; 
    margin-top: 5px;
    overflow: hidden;
}

